$primaryFont: "Euphoria Script";
$secondaryFont: "Roboto";


/* Color Theme Swatches in RGBA */
$myDkGreen: rgba(21,178,85, 1);
$myLtGreen: rgba(34,255,125, 1);
$myDkRed: rgba(178,38,28, 1);
$myPink: rgba(255,111,101, 1);



